*{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Roboto', sans-serif; 
}

.hidden{
    display: none;
}

.title > p{
    display: flex;
    justify-content: center;
    font-size: 128px;
}

#welcomeScreen{
    position: absolute;
    
    height: 1000px;
    width: 1000px;
    background-color: red;
}
.promptWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.promptBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 300px;
}
.grid-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
#pOneName,#pTwoName{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.promptSymbol{
    display: flex;
    flex-direction: row;
}

.confirmButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#grid-content{
    display: grid;
    grid-template: repeat(3,300px) / repeat(3,300px);
    gap: 15px;
    background-color: grey;
    outline: rgb(219, 14, 14) solid 1px;
}
.square{
    width: 1fr;
    height: 300px;
    background-color: white;
}

.scorecard{
    display: flex;
    flex-direction: row;
    gap: 250px;
}
.footer{
    display: flex;
    justify-content: center;  
}